<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Náhodná kočka</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: sans-serif;
      }
      .cat {
        max-width: 300px;
      }
    </style>
  </head>
  <body>
    <div id="main">
      <h1>Náhodná kočka</h1>
      <img class="cat" src="{{ image_url }}" alt="náhodný obrázek kočky" />
    </div>
  </body>
</html>
